{% extends 'main.html' %}

{% block content %}
<main class="mt-5 pt-4">
    {% if item %}
    <div class="container dark-grey-text mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-5 mb-4">
                <img src="{{item.photo.url}}" height="300px" width="430px">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <div class="mb-3">
                        <h4>{{item.title}}</h4>
                    </div>
                    <p>Description : {{ item.description }}</p>
                    {% for cat in item.category.all %}
                    <span class="badge bg-primary">{{cat.category}}</span>
                    {% endfor %}
                    <p class="lead mt-1">
                        <span>{{ item.price }}</span> Rs
                    </p>
                    <p>Status: {{ item.status }}</p>
                    {% if not request.user.is_admin %}
                        {% if not item.status == 'Retired' %}
                            <a href="{% url 'addToCart' item.id %}" class="btn btn-primary btn-md my-0 p">
                                Add to cart
                            </a>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'update-item' item.id %}" class="btn btn-primary btn-md my-0 p">
                        Edit
                    </a>
                    {% endif %}
                    <a href="{% url 'home' %}" class="btn btn-primary btn-md my-0 p">
                        Home
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    {% else %}
    <h2>No item</h2>
    {% endif %}
</main>
{% endblock content %}