{% extends 'main.html' %}

{% block content %}
<div class="row d-flex justify-content-center align-items-start" style="height: 80vh;">
	<div class="col-4">
		<form method="POST">
			{% csrf_token %}
			<h1 class="h3 mb-3 fw-normal mt-3">Please sign in</h1>

			<div class="form-floating mt-3">
				<input type="email" name="emailaddress" class="form-control" id="floatingInput"
					placeholder="name@example.com" required>
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
					required>
				<label for="floatingPassword">Password</label>
			</div>

			<div class="checkbox m-3">
				{% if message %}
				<span style="color: tomato;">* {{message}}</span>
				{% endif %}
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>
		<div class="d-flex justify-content-center">
			<span>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></span>
		</div>
	</div>
</div>
{% endblock %}