<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <h3>Dinner Dash</h3>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Home</a></li>
      {% if request.user.is_admin %}
      <li><a href="{% url 'dashboard' %}" class="nav-link px-2 link-dark">Dashboard</a></li>
      {% else %}
      <li><a href="{% url 'cart' %}" class="nav-link px-2 link-dark">My Cart</a></li>
      <li><a href="{% url 'pastOrder' %}" class="nav-link px-2 link-dark">My Orders</a></li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
      {% if request.user.is_authenticated %}
      <span>Hello {{request.user.full_name}}</span>
      <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
      <a href="{% url 'register' %}" class="btn btn-secondary">Sign-up</a>
      {% endif %}
    </div>
  </header>
</div>